/.direnv
/.opencode/

# compiled objects
*.o
*.elf
*.class
*.pdf
*.png
*.zip
*.jpg
*.docx
*.gif
*.JPG
*.xlsx
*.mp4
*.MOV
*.mov
*.m4a

work/gnu-asm
work/csen062/hw/7/clean-data.csv
work/csen020/src/Lab6C-Main.c
work/elen122/hw4/ecen122-hw4-p4.svg

!**/*.sagan.md
**/.consolidated/

# binary files
bin
**/.zig-cache
**/zig-out
**/.direnv
**/build
