/.direnv
/work/gnu-asm

.opencode/
.consolidated/

# compiled objects
*.o
*.elf
*.class
*.pdf
*.png
*.zip
*.jpg
*.docx
*.gif
*.JPG
*.xlsx
*.mp4
*.MOV
*.mov

# !**/*.sagan.md

# binary files
bin
**/.zig-cache
**/zig-out
**/.direnv
**/build

